@import '~antd/dist/antd.css';

.site-layout-content {
  padding: 24px;
  /* min-height: 550px;
  min-height: 380px; */
}

.mediumsize .site-layout-content {
  min-height: 550px;
}

.smallestsize .site-layout-content {
  min-height: 380px;
}

.ant-layout-content {
  padding: 50px 350px;
}

.header {
  background-color: #fff;
  color: #000;
}

.footer {
  background-color: #fff;
  color: #000;
}

[data-theme="dark"] .site-layout-content {
  background: #141414;
}

[data-theme="dark"] .logo {
  background: rgba(255,255,255,0.3);
}

.App {
  text-align: center;
  width: 400px;
}
